/* @group blueprint overrides */

body {
  margin: 0;
}

div.container {
  margin: 1.5em auto;
}

a:link {
  color: #0066B3;
}

a:visited {
  color: #330099;
}

a:hover,a:focus,a:active {
  color: #BF3030;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

thead th, th {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #333;
}

th a img {
  margin: 0;
}

tr.even td {
  background: #F1F5FA;
}

tr.odd td {
  background: #fff;
}

fieldset dl, fieldset select {
  margin: 0;
}

.box {
  background: #f7f7f7;
}

.box fieldset {
  background: #fff;
}

div.form-item div.description img {
  margin: 0;
}

div.messages {
  margin-bottom: 1.5em;
  padding: 0.68em;
  font-weight: bold;
}

div.messages.success {
  border: 1px solid #7AC142;
  color: #55872E;
  background: #F1F8EB;
}

div.messages ul {
  margin-bottom: 0;
}

/* @end */

/* @group drupal overrides */

div.admin {
  padding-top: 1.5em; /* fix alignment of admin panel */
}

div.admin-panel {
  padding: 1.5em 0 0 0;
}

div.admin-panel .body {
  padding: 0;
}

div.admin-panel .description {
  margin: 0 0 1.5em 0;
  padding: 0;
}

#node-admin-filter ul li {
  list-style: none; /* remove list style from content node filter */
}

.breadcrumb {
  padding-bottom: 0;
  margin-bottom: 1.5em;
}

.more-help-link {
  font-size: 0.9em;
  line-height: 1.667em;
}

input.form-text, select, textarea {
  border: 1px solid #ccc;
  padding: 0.2em;
}

select, textarea, input {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.form-item {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

div.error, tr.error, span.form-required, span.marker {
  color: #8A1F11;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #DD7777;
  background: #FFCCCC;
  color: #8A1F11;
}

/* fix admin/settings/performance */

.form-item strong.error {
  display: block;
}

.form-item textarea.error {
  padding: 0.2em;
}

.form-item .description {
  font-size: 0.9em;
  line-height: 1.667em; /* more accurate line-height value */
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 0.5em;
}

fieldset legend {
  display: block;
  font-size: 1em;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0 0.4em;
}

textarea {
  line-height: 1.5em;
  height: auto;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

html.js fieldset.collapsed {
  background: none;
}

html.js fieldset.collapsible legend a {
  background: transparent url(../images/icons/menu-expanded.gif) no-repeat scroll 0% 50%;
  text-decoration: none;
}

html.js fieldset.collapsed legend a {
  background: transparent url(../images/icons/menu-collapsed.gif) no-repeat scroll 0% 50%;
}

ul.menu li, .item-list ul li {
  margin: 0;
  padding: 0;
}

/* remove bottom margins from nested ul elements in menus */

ul.menu li ul {
  margin-bottom: 0;
}

.block ul, ul.menu, .item-list ul {
  margin: 0pt 1.5em 1.5em;
  padding: 0;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  list-style-image: url(../images/icons/menu-leaf.gif);
}

ul li.expanded {
  list-style-image: url(../images/icons/menu-expanded.gif);
}

ul li.collapsed {
  list-style-image: url(../images/icons/menu-collapsed.gif);
}

div.tabs {
  margin-bottom: 1.5em;
}

ul.secondary {
  margin: 0;
  padding: 0;
}

ul.secondary li {
  padding: 0 0.7em 0 0; /* align subtabs flush to edge */
  margin: 0 0.5em 0 0;
}

ul.primary {
  margin: 0.25em 0 1em;
}

ul.primary li a {
  background: #f7f7f7;
  padding: 3px 1em 1px 1em; /* fix alignment of tabs */
}

div.help {
  background: #ffc;
  padding: 0.75em; /* fix alignment of help text */
  margin-bottom: 1.5em;
}

/* fix alignment on user profile page */

.profile dt {
  margin: 1.5em 0 0 0;
}

/* fix book module */

.book-navigation .page-links {
  background: #F1F5FA;
  border: none;
  padding: 0.75em;
  margin-bottom: 1.5em;
}

.book-navigation .menu {
  padding: 1.417em 0 0 3em;
  margin: 0 0 1.5em 0;
  border-color: #bbb;
}

/* @end */

/* @group basic elements */

blockquote {
  background: url(../images/lquote.png) no-repeat left top;
  font-size: 1em;
  margin: 0 0 1.5em 0;
  padding: 0 0 0 40px;
}

blockquote p {
  margin: 0;
}

#saving {
  background: url(../images/loading.gif) no-repeat 12px 1px;
  padding-left: 36px;
  font-weight: bold;
  font-size: 1em;
  display: none;
}

#saving p {
  margin: 0;
}

#saving-notice {
  font-size: 0.9em;
  background: #ffc;
  font-style: italic;
}

/* @end */

/* @group nodes */

div.node {
  margin: 0 0 1.5em 0;
  padding: 0 0 1.417em 0;
  border-bottom: 1px solid #ccc;
}

div.node h2 {
  margin-bottom: 0;
}

div.node div.meta {
  font-size: 0.9em;
  line-height: 1.667em;
  margin-bottom: 1.667em;
}

div.meta div.submitted, div.meta div.terms {
  display: inline;
}

div.node div.picture {
  float: right;
  margin: 0 0 0.8em 0.8em;
}

div.node ul.links {
  display: block;
  text-align: right;
}

div.node div.meta ul.links {
  display: inline;
  padding: 0 1em 0 0;
}

/* @end */

/* @group comments */

div.comment-content {
  float: left;
  margin-right: 10px;
}

body.col-1 div.comment-content {
  width: 790px; /* span-20 */
  margin-right: 0; /* last */
}

body.col-2 div.comment-content {
  width: 550px; /* span-14 */
}

body.col-3 div.comment-content {
  width: 310px; /* span-8 */
}

div.comment div.picture {
  text-align: right;
}

div.comment span.username {
  font-weight: bold;
}

div.comment span.date {
  font-style: italic;
}

div.comment span.new {
  color: #5B1100;
  font-weight: bold;
}

div.comment img {
  margin: 0;
  border: 1px solid #ccc;
}

div.comment {
  padding: 1em;
  margin: 0 0 1em 0;
}

div.comment.odd {
  background: #F1F5FA;
}

div.comment.author {
  background: #ffc;
}

h3#comment-number {
  margin-top: 1em;
}

/* @end */

/* @group blocks */

div.block {
  margin-bottom: 1.5em;
}

/* @end */

/* @group pager */

div.pager {
  line-height: 1.667em;
  margin: 1.667em 0;
  font-size: 0.9em;
}

div.pager a, div.pager strong.pager-current {
  border: 1px solid #0066B3;
  text-decoration: none;
  margin-right: 3px;
  padding: 3px 6px;
}

div.pager strong.pager-current {
  background: #0066B3;
  color: #fff;
}

div.pager a:hover,
div.pager a:focus,
div.pager a:active {
  background-color: #0066B3;
  color: #fff;
  border: 1px solid #0066B3;
}

div.pager span.pager-ellipsis {
  padding: 0 0.5em;
}

/* @end */
