.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
	margin: 20px 0;
	position: relative;
	width: 100%;
}

/* These 2 lines specify style applied while slider is loading */
.csw {width: 100%; height: 460px; background: #fff; overflow: auto}
.csw .loading {margin: 24px 0 300px 48px; text-align: center}

p.loading {
  background:url(../images/loading.gif) no-repeat left;
  padding-right:18px;
  font-size:1.2em;
  width:124px;
}

.stripViewer { /* This is the viewing window */
	position: relative;
	overflow: hidden; 
	border: 1px solid #7EC559; /* this is the border. should have the same value for the links */
	margin: auto;
	width: 590px; /* Also specified in  .stripViewer .panelContainer .panel  below */
	height: 460px;
	clear: both;
	background: #fff;
}

.panelContainer {
  display:none;
}

.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
	position: relative;
	display:block;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
	/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
	float:left;
	height: 100%;
	position: relative;
	width: 590px; /* Also specified in  .stripViewer  above */
}

.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
	padding: 10px;
}
		
.stripNav ul { /* The auto-generated set of links */
	list-style: none;
	margin:0;
}

.stripNav ul li {
	float: left;
  list-style-image:none;
	margin-right: 2px; /* If you change this, be sure to adjust the initial value of navWidth in coda-slider.1.1.1.js */
}

.stripNav a { /* The nav links */
	font-size: 1em;
	font-weight: bold;
	line-height: 3em;
	background: #fff;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 1.5em;
	border:1px solid #fff;
	border-bottom:0;
}

.stripNav a:visited {
  color:#0066B3
}
		
.stripNav li a:hover {
	border:1px solid #7EC559;
	border-bottom:0;
}

.stripNav li a.current {
	background: #7EC559;
	border-color: #7EC559;			
	color: #fff;
}