h1#logo {
  margin: 36px 0 0 0;
}

h1#logo a {
  text-indent: -9999px;
  width: 282px;
  height: 42px;
  background: url(../images/logo.png) no-repeat;
  display: block;
  float: left;
}

h2#slogan {
  text-indent: -9999px;	
  width: 247px;
  height: 10px;
  background: url(../images/slogan.png) no-repeat;
  float: left;
  margin: 27px 0 24px 48px;
}

#google-cse-searchbox-form {
  width:200px;
  float:right;
  margin: 17px 36px 0 0;
}

#nav {
  clear:both;
  text-align: right;
  background: url(../images/menu-bg.jpg) repeat-x;
  margin: 0 0 24px 0;
  padding: 0 30px 0 0;
  height: 39px;
}

#nav li {
  list-style-type: none;
  background: none;
  display: inline;
  margin-left:18px;
}

#nav li a {
  padding: 10px 12px 2px 12px;
  color: #fff;
  text-decoration: none;
  line-height: 42px;
  font-size: 18px;
}

#nav li a:hover,#nav li a:focus,#nav li a:active {
	border-bottom: 8px solid #307BBF;
}

#nav li a.active {
  border-bottom: 8px solid #fff;
}

#footer {
  background: #ccc url(../images/footer-bg.jpg) repeat-x;
  height:76px;
  padding:0 40px 24px 40px;
  margin-top:3em;
  color:#444;
  font-size:0.95em;
}

#footer-nav {
  margin:0 0 1.5em 0;
}

#footer-nav li {
  list-style-type: none;
  background: none;
  display: inline; 
}    

#footer-nav li a {
  padding: 10px 12px 2px 12px;
  color: #307BBF;
  text-decoration: none;
  line-height: 42px;
}

#footer-nav li a:hover,#footer-nav li a:focus,#footer-nav li a:active {
	border-top: 6px solid #307BBF;
}

#footer-nav li a.active {
  border-top: 6px solid #fff;
}

div.node {
  border-color:#fff;
}                     

div.node div.content {
  font-size:1.05em;
}

div.node div.submitted {
  background: url(../images/icons/calendar_view_day.png) no-repeat left;
  line-height:1.5em;
  padding:3px 18px;
}

div.node div.terms {
  background: url(../images/icons/tag_green.png) no-repeat left;
  line-height:1.5em;
  padding:3px 18px;
}

div.node-links ul.links {
  background:#F3F2E4;
  border-bottom:1px solid #ccc;
  padding:0.2em;
}      

div.block {
  background: #F3F2E4 url(../images/block-bg.jpg) repeat-x;
  border:1px solid #7EC559;  
  padding:1em;         
  margin-bottom:2em;
}              

div.block h3 {
  color:#D96B11;
  font-weight:bold;
  font-variant: small-caps;  
  margin-bottom:0.5em;
}              

div.block ul {
  margin:0;
}

#flickr-link {
  clear:both;
  font-size:1.1em;
  display:block;
  text-decoration:none;
  color:#0066B3;
  margin-bottom:1.5em;
}

#photos-flickr img {
  border:1px solid #ccc;
  padding:3px;
  margin:0 18px 18px 0;
}

#photos-flickr a:hover img {
  border-color:#BF3030;
}

img.img-right {
  float:right;
  border:1px solid #ccc;
  padding:1px;
  margin:0 0 1em 1em;
}

img.img-left {
  float:left;
  border:1px solid #ccc;
  padding:1px;
  margin:0 1em 1em 0;
}

a.project-posts {
  width:212px;
  border:1px solid #307BBF;
  background:#307bbf;
  color:#fff;
  float:right;
  font-size:1.1em;
  text-decoration:none;
  padding:3px;
  clear:both;
  display:block;
}
a.project-posts:hover {
  color: #fff;
  background: #BF3030;; 
}
div.span-4-5 {
  width:142px;
  float:left;
}
div.span-4-5 p {
  margin:0;
}
div.span-2-5 {
  width: 40px;
  text-align:right;
  float:left;
}
a.feed {
  font-size: 1.1em;
  line-height: 1em;
}
